<% layout('layouts/boilerplate')%>




<style>
		body
		{
			
			background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
		
		
		}
</style>


<marquee behavior="alternate" direction = "right" ><h5>
			--<%=msg%>--
			<!-- --Create a community to  request for a review or share a review-- -->
			</h5></marquee>
		
<br>
<br>

<center>
<div class="text-center pt-3" style="color:white;background-color:#2E2E2E;border-radius: 2px;width: 50%;height=50%;box-shadow: 2px 4px 2px 4px #999999; ">
	<h1>
		New Community
	</h1>
	<div class="col-6 offset-3">
		<form action="/create" method="POST" novalidate class="validated-form" >
			<div class="mb-3">
				<label class="form-label" for="title">Community Title</label>
				<input class="form-control" type="text" required id="title" name="title">
			</div>
			<div class="mb-3">
				<label class="form-label" for="pass">Password</label>
				<input class="form-control" type="password" required id="pass" name="password">
			</div>
			<!-- <label for="floatingTextarea2">Review</label> -->
			<!-- <div class="form-floating mb-3">
				<textarea class="form-control" placeholder="Leave a review here" required id="floatingTextarea2"  style="height: 250px" name="review"></textarea>
  				
			</div> -->
			<div class="pb-4">
				<button class="btn btn-success">
				create community
				</button>
			</div>
		</form>
	</div>
</div>
	</center>