<% layout('layouts/boilerplate')%>
<style>


body
		{
		
			background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
			height: 100%; 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
	}
</style>

<a href="/movies/request/<%=communityId%>" type="button" class="btn btn-success">Request</a>
<a type="button" href="/movies/<%=communityId%>"  class="btn btn-success ">All Movies</a>
<center>
<div class="text-center" style="border-radius: 2px;width: 50%;height=50%;box-shadow: 2px 4px 2px 4px #999999; color:white;background-color:#2E2E2E">
	<h1 class="text-center">
		New Movie
	</h1>
	<div class="col-10 offset-1" >
		<form action="/movies/<%=communityId%>" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >
			<div class="mb-3">
				<label class="form-label" for="name">Movie Name</label>
				<input class="form-control" type="text" required id="name" name="name">
			</div>

			<div class="input-group mb-3">
  <input type="file" class="form-control" required name="image" id="image">
  <!-- <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
</div>
			<!-- <div class="mb-3">
				<input type="file" name="image" id="">
			</div> -->
			
			<!-- <div class="mb-3">
				<label class="form-label" for="url">Movie Image</label>
				<input type="file" id="img" name="image" accept="image/*">
			</div> -->

			<label for="floatingTextarea2">Review</label>
			<div class="form-floating mb-3">
				<textarea class="form-control" placeholder="Leave a review here" required id="floatingTextarea2"  style="height: 200px" name="review"></textarea>
  				
			</div>
			<div class="pb-3">
				<button class="btn btn-success">
				Add Movie
				</button>
			</div>
		</form>

	</div>
</div>
</center>



	