<% layout('layouts/boilerplate')%>

<div>
	<h1 class="text-center">
		New Movie
	</h1>
	<div class="col-6 offset-3">
		<form action="/movies" method="POST" novalidate class="validated-form" >
			<div class="mb-3">
				<label class="form-label" for="name">Movie Name</label>
				<input class="form-control" type="text" required id="name" name="movie[name]">
			</div>

			<div class="mb-3">
				<label class="form-label" for="url">Movie Image</label>
				<input class="form-control" type="text" required id="url" name="movie[image]">
			</div>
			
			
			<!-- <div class="mb-3">
				<label class="form-label" for="review">Movie Review</label>
				<input class="form-control" id="review" name="movie[review]">
			</div> -->
			<label for="floatingTextarea2">Review</label>
			<div class="form-floating mb-3">
				<textarea class="form-control" placeholder="Leave a review here" required id="floatingTextarea2"  style="height: 250px" name="movie[review]"></textarea>
  				
			</div>
			
			
			<!-- <div>
				<label for="review">Movie Review</label>
				<textarea id="review" name="movie[review]"></textarea>

			</div> -->

			<div class="mb-3">
				<button class="btn btn-success">
				Add Movie
				</button>
			</div>
		</form>
	<div>
		<a href="/movies">All Movies</a>
	</div>

	</div>
</div>




	