<% layout('layouts/boilerplate')%>


<a href="/movies/new/<%=communityId%>" type="button" class="btn btn-warning mb-4 mt-0">new Movie</a>
<a type="button" href="/movies/<%=communityId%>"  class="btn btn-warning mb-4 mt-0">All Movies</a>


<center>

<div class="text-center" style="background-color:cadetblue; border-radius: 2px;padding: 5px;width: 50%;height=50%;box-shadow: 2px 4px 2px 4px #999999;">
	<h1 class="text-center">
		Make Request
	</h1>
	<div class="col-6 offset-3">
		<form action="/movies/request/<%=communityId%>" method="POST" novalidate class="validated-form" >
			<div class="mb-3">
				<label class="form-label" for="name">Movie Name</label>
				<input class="form-control" type="text" required id="name" name="title">
			</div>
			<div class="mb-3">
				<button class="btn btn-success">
					Request
				</button>
			</div>
		</form>


	</div>
</div>
</center>



	